.dropdownMenu {
  position: absolute;
  top: 7px;
  right: 0;
  width: 180px;
  color: $dark-gray-2;
  font-size: 14px;
  background: white;
  border: 1px solid $light-turquoise-2;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);

  &::before {
    content: '';
    position: absolute;
    top: -7px;
    right: 10px;
    z-index: -1;
    width: 8px;
    height: 8px;
    background: $light-turquoise;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
    transform-origin: 0 0;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: -12px;
    right: 12px;
    border: 6px solid white;
    border-color: transparent transparent white;
    transform-origin: 0 0
  }
}

.username {
  border-bottom: 1px solid $light-turquoise-2;
}

.menuItem {
  cursor: pointer;

  &:hover {
    background: $light-turquoise-2;
  }

  &:active {
    background: $light-turquoise;
  }
}