.panel {
  background: white;
  border: 1px solid $light-gray-2;
  border-radius: 4px;
}

.title {
  color: $dark-turquoise-2;
  font-weight: bold;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  text-align: center;
}