.inputWrapper {
  font-weight: 500;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.input {
  height: 32px;
  padding: 0 8px;
  color: $dark-gray-2;
  font-family: Montserrat, sans-serif;
  border: 1px solid $light-blue;
  border-radius: 2px;
  outline: none;

  &.error {
    border: 1px solid $red;
  }

  &.disabled {
    background: $light-gray;
  }
}

.label {
  display: block;
  color: $dark-gray-2;
  margin-bottom: 8px;
}

.errorText {
  margin-top: 8px;
  color: $red;
  font-size: 12px;
}