$path: '../assets/fonts/';

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'), url($path + 'Montserrat-Light.otf') format('opentype'), url($path + 'Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url($path + 'Montserrat-Regular.otf') format('opentype'), url($path + 'Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url($path + 'Montserrat-Medium.otf') format('opentype'), url($path + 'Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url($path + 'Montserrat-Bold.otf') format('opentype'), url($path + 'Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}